[submodule "the-old-website"]
	path = the-old-website
	url = https://github.com/KyleRego/the-old-website
[submodule "anki_record_docs"]
	path = anki_record_docs
	url = https://github.com/KyleRego/anki_record_docs
