.snake-container {
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: start;
  align-items: center;
}

.mobile-controls {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .mobile-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
  }

  .mobile-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #222;
    color: lightgreen;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .middle-mobile-buttons-container {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.game {
  text-align: center;
  margin: auto;
  width: min-content;
  height: auto;
  font-size: 32px;
  outline: none;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 25px;
  height: 25px;
  background-color: #222;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .square {
    width: 10px;
    height: 10px;
    background-color: #222;
    border: 0.5px solid white;
  }
}

.snake {
  background-color: lightgreen;
}

.food {
  background-color: pink;
}