.to-top-container {
  display: none;

  @media (min-width: $breakpoint-lg) {
    bottom: 0;
    position: sticky;
    display: flex;
    justify-content: right;
    height: 3rem;
  }
}

.to-top-link {
  font-size: $prose-font-size;
  text-decoration: none !important;
}