<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="home-colorful-background">

    <div>
        <header>
            <div class="clearfix border-bottom-thick header-border">
                <ul class="list-reset right py-1 header-text font-smoothing">
                    <li class="inline-block">
                        <a class="align-middle link-primary mr-2"
                            href="https://github.com/{{ site.github_username }}#user-profile-frame">About</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="container mx-auto d-flex flex-sm-col px-2" style="align-items: center; column-gap: 1rem; margin-top: 5rem;">    
            <div class="flex-grow-1 mx-auto clearfix header-text">
                <h1 class="h0 inline-block sm-width-full header-title" style="margin-top: 0">
                    {{ site.title }}
                </h1>

                <div class="mx-auto prose d-flex column-gap-1 align-items-center">
                    <p class="my-0">Hello, welcome to my blog! I hope you find the information here helpful,
                        but these posts should not be taken as 100% correct ways to do anything.
                    </p>
                    <div class="inline-block">
                            {% include svg-github.html %}
                        </div>
                </div>
            </div>

            <figure class="lg-inline-block text-center">
                <img src="assets\me-with-black-pink-grey-clothes.jpg" alt="Me" style="vertical-align: top; width: 300px;" />
                <figcaption>Me</figcaption>
            </figure>
        </div>

        <div class="container mx-auto px-2">

            {% for post in site.posts %}
            {% include post-block.html %}
            {% endfor %}

            <h2>
                More stuff on this site
            </h2>

            <h3 id="notes" class="lh-condensed col-9 mt-4">
                Notes
            </h3>
            <div class="prose sm-width-full">
                {% include list-notes.html %}
            </div>

            <h3 class="mt-1">
                Miscellaneous
            </h3>
            <div class="prose sm-width-full">
                <ul>
                    <li class="mb-1 prose mt-0"><a class="link-primary" href="/anki_record_docs"
                            title="/anki_record_docs">Anki Record API documentation</a></li>
                    <li class="mb-1 prose mt-0"><a class="link-primary" href="/the-old-website"
                            title="The old website">The old website</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
