.snake-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 0; /* needed to make child div with height: 100% fill this div */
  min-height: 100vh;
  background-color: lightgray;
}

.mobile-controls {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .mobile-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #222;
    color: lightgreen;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 4px rgba(172, 172, 172, 0.808);
  }

  .middle-mobile-buttons-container {
    width: 225px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.game {
  text-align: center;
  width: fit-content;
  margin: auto;
  height: 100%;
  max-height: 100vh;
  font-size: 32px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.board {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 4px rgba(172, 172, 172, 0.808);
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 25px;
  height: 25px;
  background-color: #222;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .square {
    width: 15px;
    height: 15px;
    background-color: #222;
    border: 0;
  }
}

.snake {
  background-color: lightgreen;
}

.food {
  background-color: pink;
}